<!-- Jon Wu -->
<%= javascript_include_tag 'channel' %>  

<div class="browse_wrapper">
	<div class="navigate">
		

	<%= form_tag("/browse/search", method: "get", remote: true) do %>
		  <%= label_tag(:query, "Search for:") %>
		  <%= text_field_tag(:query) %>
		  <%= submit_tag("Search",class: "btn-success") %>
		<% end %>
	</div>		
	
	<div class="browse-list">
		<%= render partial: "browse_list", object: [@results] %>	
	</div>

	<div class="navigate">
		<%= button_to "Previous", previous_page_path, remote: true, class: 'btn btn-primary', method: :get %>
		<%= button_to "Next", next_page_path, remote: true, class: 'btn btn-primary', method: :get %>
	</div>		
	
</div>

<div class="sidebar">
	<div class="content">	
	 	<h1 class="title"></h1>
		<% if !current_user.nil? %>
			<button class="btn btn-primary follow" value=<%= @results[0]["id"] %>>Follow</button>	
		<% end %>
		<button class="btn btn-primary scuss" value=<%= @results[0]["id"] %>>Scuss it</button>	
		<p class="description"></p>
	</div>

	
</div>
