
<%= javascript_include_tag 'channel' %>  
<% @results = @on_the_air['results'] %>

<div class="browse_wrapper">	
	<% @results.each do |show| %>
		<% @backdrop_path = "https://image.tmdb.org/t/p/w185"+show['poster_path']
			@name = show["name"]
			@id = show["id"]
		 %>
		 
		 <div class='browse_frame' id=<%= @id %> >
			<img class="browse_poster" src=<%= @backdrop_path %> alt="">
			<li><ul><h2> <%= @name %> </h2></ul></li>
		</div>
	<% end %>
</div>

<div class="sidebar">
	<div class="content">	
	 	<h1 class="title"></h1>
		<% if !current_user.nil? %>
			<button class="btn btn-primary follow" value=<%= @results[0]["id"] %>>Follow</button>	
		<% end %>
		<button class="btn btn-primary scuss" value=<%= @results[0]["id"] %>>Scuss it</button>	
		<p class="description"></p>
	</div>
</div>
