<!-- This is a html file for chatroom -->
<!--
  Bryant Chang
  Renjie Long
  Gangbaolede Li
  Jonathan Lo
  Jonathan Wu
-->
<!-- Javascript -->
<%= javascript_include_tag 'chatroom' %>  

<script type="text/javascript">
  jQuery(document).ready(function($) {
    add_active(<%= @channel.id %>)
    
    $(window).bind('beforeunload', function(e){
      delete_active(<%= @channel.id %>);
    });
    // Binding the ENTER KEY
    $(document).bind('keypress', function(element) {
        if(element.keyCode==13){
             $('#send_button').trigger('click');
         }
    });

    id = <%= @channel.id %>
    get_messages(id);
    get_userlist(id);
  });
</script>


<div class="panel-heading">
  <h3> Chat room: <%= Channel.find(@channel.id).name %></h3>
  <ul class="nav nav-pills" role="tablist">
    <li>
      <% if !current_user.nil? %>
        <% if !current_user.favorites.exists?(:channel_id => @channel.id) %>
          <button id=<%= @channel.api_id %> class="btn btn-primary follow" >Follow</button>
        <% else %>
          <button id=<%= @channel.api_id %> class="btn btn-primary follow" >Unfollow</button>
        <% end %>
      <% end %>

    </li>
    <li>
      <button id=<%= @channel.id %> class="btn btn-primary topics" >Topics</button>
    </li>
  </ul>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-9">
      <div class="tab-content" id="chatbox">

      </div>
      <div class="input_sender">
        <input id="message_input" type="text" maxlength="255" style="width: 500px; height: 35px; margin-right: 10px" placeholder="Enter your message here...">
        <button id="send_button" onclick="click_send()" class="btn btn-primary">Send</button>
      </div>
    </div>

    <div class="col-md-3">
      <div class="user_list" id="userbox">

      </div>
    </div>
  </div>
</div>


<br>
<br>
<br>


<!-- HTML -->


