<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<table>
  <div>MESSAGES:</div>
  <% @messages.each do |message| %>
      <tr>
        <% if message.user %>
            <td><%= message.user.username %>: </td><td><%= message.body %></td>
        <% else %>
            <td>Anon:</td><td><%= message.body %></td>
        <% end %>
      </tr>
  <% end %>

</table>
  <div>---</div>
  <%= form_for Message.new, url: channel_post_path do |f| %>
      <%= f.text_field :body %>
      <!--<%= @channel.id %>-->
      <%= f.hidden_field :channel_id, :value => @channel.id %>
      <%= f.submit "Send" %>
  <% end %>
  <% if !current_user.nil? %>
  <% if !current_user.favorites.exists?(:channel_id => @channel.id) %>
  <%= button_to "Follow", {:controller => "channel", :action => "follow", :cid => @channel.id }  %>
  <% else %>
  <%= button_to "Unfollow", {:controller => "channel", :action => "unfollow", :cid => @channel.id } %>
  <% end %>
  <% end %>
</body>
</html>