<!--
  Gangbaolede Li
  Jonathan Lo
  Jonathan Wu
-->
<!-- Javascript -->
<%= javascript_include_tag 'chatroom' %>  

<script type="text/javascript">
  jQuery(document).ready(function($) {

    // Binding the ENTER KEY
    $(document).bind('keypress', function(element) {
        if(element.keyCode==13){
             $('#send_button').trigger('click');
         }
    });

    id = <%= @channel.id %>
    get_messages(id);
  });
</script>
<!-- <div class="container" style="float: right">
  <h1><%= Channel.find(@channel.id).name %></h1>
</div> -->

<div class="panel-heading">
  <ul class="nav nav-pills" role="tablist">
    <li class="active"><a href="#">Main: <%= Channel.find(@channel.id).name %></a></li>
    <!-- <li><a href="#">Breaking Bad</a></li> -->
    <!-- <li><a href="#">Lie To Me</a></li> -->
  </ul>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      <!--chatbox content-->
      <div class="chat" id="chatbox">

      </div>
    </div>
    <div class="span3">
      <div class="topic">
        <h5>Topics are coming in iteration 2.</h5>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <input id="message_input" type="text" maxlength="255" style="width: 500px; height: 35px" placeholder="Enter your message here...">
  <button id="send_button" onclick="click_send()" class="btn btn-primary">Send</button>
  <br>
  <br>
  <% if !current_user.nil? %>
    <% if !current_user.favorites.exists?(:channel_id => @channel.id) %>
      <button id=<%= @channel.api_id %> class="btn btn-primary follow" >Follow</button>
    <% else %>
      <button id=<%= @channel.api_id %> class="btn btn-primary follow" >Unfollow</button>
    <% end %>
  <% end %>
</div>

<br>
<br>
<br>




<!-- HTML -->


