<!-- Javascript -->
<%= javascript_include_tag 'chatroom' %>  

<script type="text/javascript">
  jQuery(document).ready(function($) {
     id = <%= @channel.id %>
    get_messages(id);
  });
</script>

<!-- HTML -->
<table>

  <div>MESSAGES:</div>
  <p id="chatbox">
<!--     <% @messages.each do |message| %>
        <tr>
          <% if message[:user] %>
              <td><%= message[:user] %>: </td><td><%= message[:body] %></td>
          <% else %>
              <td>Anon:</td><td><%= message.body %></td>
          <% end %>
        </tr>
    <% end %> -->
  </p>
</table>
<div>---</div>
<input id="message_input"></input> 
<button onclick="click_send()">send</button>

<%= form_for Message.new, url: channel_post_path do |f| %>
    <%= f.text_field :body %>
    <!--<%= @channel.id %>-->
    <%= f.hidden_field :channel_id, :value => @channel.id %>
    <%= f.submit "Send" %>
<% end %>


<% if !current_user.nil? %>
  <% if !current_user.favorites.exists?(:channel_id => @channel.id) %>
    <%= button_to "Follow", {:controller => "channel", :action => "follow", :cid => @channel.id }  %>
  <% else %>
    <%= button_to "Unfollow", {:controller => "channel", :action => "unfollow", :cid => @channel.id } %>
  <% end %>
<% end %>


